<div class ="container">
  <h1>Login or Create New User</h1>
  
    <label for = 'new user'>Please Login Below:</label>
    <form action = "/users_only" method = "POST">
      Username: <input type = "text" name = "email" placeholder = "email">
      <br>
      Password: <input type = "password" name = "password" placeholder = "password">
      <br>
      <input type ="submit" value = "Login">
    </form>
    
    <label for = 'new user'>Fill out New User Form Below:</label>
    <form action = "/login" method = "POST">
      NewUsername: <input type = "text" name = "email"
      placeholder = "email">
      <br>
      Password: <input type = "password" name = "password" placeholder = "password">
      <br>
      <input type ="submit" value = "Login">

    </form>
 
  
